<section class="aside-bar">
    <article class="dropdown">
        <h2 class="dropbtn">🔻 All categories</h2>
        <ul class="dropdown-content"><%categories.forEach(category=>{%>
            
<li>
    <a href="/events/?category=<%=category%>"><%=category%></a>
    </li>
       <%})%>

        </ul>
    </article>
    <article  class="dropdown">
        <h2 class="dropbtn">🔻 All locations</h2>
        <ul class="dropdown-content"><%locations.forEach(place=>{%>
            
<li>
    <a href="/events/?location=<%=place%>"><%=place%></a>
    </li>
       <%})%>

        </ul>
    </article>
    <article>
        <h2>Filter by Date</h2>
        <form action="/events/date" method="GET">
            <label for="startDate">Date</label>
            <input type="date" name="startDate">
            <label for="endDate">Date</label>
            <input type="date" name="endDate">
            <input type="submit" id="submit">
        </form>
    </article>
</section>