<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header class="hero-header">
        <div class="container">
        <h1 class="logo text-color">Event</h1>
        <nav>
        <a href="/">Home</a>
        <a href="/events/new">Add Event</a>
        <a href="/events/">All Event</a>
    </nav>
    </div>
    </header>
