<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header class="hero-header">
        <div class="container">
        <h1 class="logo text-color">Event</h1>
        <nav>
        
        
    </nav>
    </div>
    </header>

<main class="hero">
  <p>1 We have the best events. <br>Get your tiket now!</p>
  <div>
    <button><a href="/events/new">Add Event</a></button>
    <button><a href="/events/">All Event</a></button>
  </div>
</main>
<footer class="flex-center ">
  <address class="text-color">© COPYRIGHT 2022 · EVENT.COM</address> 
</footer>
</body>
</html>
