*,
*::before,
*::after{
    box-sizing: border-box;
}
.container{
    max-width: 1350px;
    padding: 0 32px;
    margin: 0 auto;
}
// Flex
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.display-flex{
    display: flex;
}
.flex-spacebtm{
    display: flex;
    justify-content: space-between;
    
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
// Text
.text-center{
    text-align: center;
}
body{
    font-family: 'Audiowide', cursive;
    line-height: 1.6;

}
